body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(200deg, #ffffff 0%, #1e2d3b 74%);
  display: flex;
  flex-direction: column;
}

html,
body {
  overflow: hidden;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.container::-webkit-scrollbar {
  display: none;
}

.container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 500px;
  background: rgba(248, 248, 255, 0.845);
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 20px;
  position: sticky;
  top: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.navbar a {
  font-weight: 500;
  font-size: large;
  text-decoration: none;
  color: inherit;
  border-bottom: 0;
  padding-bottom: 2px;
}

.navbar a:hover {
  border-bottom: 2px solid black;
}

.home,
.about-grid {
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  gap: 80px;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  height: 80vh;
}

.right-home {
  background: linear-gradient(135deg, #ffffff 0%, #1e2d3b 74%);
  border-radius: 86% 14% 76% 24% / 19% 70% 30% 81%;
  width: 420px;
  height: 435px;
  margin-top: 50px;
}

.right-home img {
  width: 500px;
  height: 470px;
  object-fit: cover;
  margin-bottom: 20px;
}

.left-home {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

.left-home h1 {
  margin-bottom: 10px;
  color: white;
}

.left-home h1 span {
  color: #5e7ca4;
}

.left-home p {
  margin-bottom: 20px;
  color: #d2d1d1;
  line-height: 1.6;
}

.button {
  padding: 10px 20px;
  background: linear-gradient(315deg, #ffffff 0%, #274060 74%);
  color: white;
  border: none;
  width: 18%;
  border-radius: 4px;
  transition: background 0.3s;
  position: relative;
  animation: move-up 2s ease-in-out infinite;
}

@keyframes move-up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.button:hover {
  cursor: pointer;
  background: linear-gradient(135deg, #ffffff 0%, #274060 74%);
}

.about {
  margin-top: 200px;
}

.about-grid {
  background: linear-gradient(200deg, #ffffff -35%, #1e2d3b 94%);
  padding: 30px;
  border-radius: 10px;
  height: 60vh;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.7);
}

.about-description {
  font-size: 20px;
  font-weight: 400;
  color: rgba(248, 248, 255, 0.845);
  text-align: justify;
  line-height: 1.6;
}

.about-details {
  font-size: 20px;
  font-weight: 700;
  color: rgba(248, 248, 255, 0.845);
  line-height: 1.6;
}

.contact {
  margin-top: 200px;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #fff;
  padding: 2rem;
  border-radius: 15px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  gap: 2rem;
  overflow: hidden;
}

.contact-left-container h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.contact-text {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: justify;
}

.contact-right-container h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5rem;
}

.row input {
  border: none;
  outline: none;
  margin-bottom: 0.5rem;
  padding: 1rem 1.5rem;
  background: #f3f3f3;
  border-radius: 5px;
  font-size: 0.85rem;
}

.row textarea {
  border: none;
  outline: none;
  margin-bottom: 0.5rem;
  padding: 1rem 1.5rem;
  background: #f3f3f3;
  border-radius: 5px;
  resize: none;
  min-height: 150px;
  font-size: 0.85rem;
}

.btn {
  margin-top: 1rem;
  background: linear-gradient(to right, #274060, #adb5bd);
  padding: 0.65rem 1rem;
  border-radius: 10px;
  border: none;
  font-size: 0.85rem;
  width: 4.2rem;
  transition: background 0.3s, transform 0.3s;
  color: #fff;
}

.btn:hover {
  background: linear-gradient(to right, #adb5bd, #274060);
  border-color: transparent;
  transform: scale(1.1);
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #1e2d3b;
  color: white;
  min-height: 80px;
  text-align: center;
  position: relative;
  width: 100%;
}

.info-item {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

svg {
  width: 50px;
  height: 50px;
  background: #274060;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 1rem;
}

svg path,
svg circle {
  stroke: currentColor;
  fill: none;
  stroke-width: 2;
}

.info-item p {
  font-size: 1rem;
}
