header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
  background: rgba(248, 248, 255, 0.845);
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

header a {
  text-decoration: none;
  color: inherit;
}

header nav {
  display: flex;
  min-width: 150px;
  font-size: 18px;
  gap: 20px;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.new-post,
.login,
.logout {
  color: black;
  margin-top: 3px;
  position: relative;
}

.new-post::after,
.login::after,
.logout::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

.new-post:hover::after,
.login:hover::after,
.logout:hover::after {
  width: 100%;
  border: 1px solid transparent;
}

.register {
  background-color: black;
  color: white;
  border: 1px solid transparent;
  padding: 3px 5px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.register:hover {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}
