:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  color: #222;
  margin: 0;
  padding: 0;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}
